* {
    font-family: 'Gilroy',sans-serif;
    transition: 0.3s all;
      font-weight: 600;
  }
  #app {
    width: 220px;
    box-shadow: 0 7px 20px #249482;
  }
  input[type="text"] {
    width: 330px;
    border: 50;
    color: #985651;
    font-size: 28px;
    padding: 20px 10px;
    text-align: right;
  }
  .grid {
    display: flex;                       
    flex-wrap: wrap;  
    justify-content: space-around;
    width: 160%;
    
  }
  .cell {
    flex: 30%;                       
    height: 60px;
    font-size: 40px;
    border: none;
  }
  .num {
    background-color: grey;
    color: white;
    font-weight: 800;
  }
  .cell:hover{
    background-color: #985682;
  }
  .op {
    background-color: rgb(53, 62, 141);
    color: #8fad57;
  }
  